#caixaBarra {
    padding: 9px;
}
.itensUrls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    font-size: 1.3rem;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}
.itensUrls:hover {
    transition: 1.3s;
    border-color: #fff;
}
#list_Generos {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 40px;
    
    width: 160px;
    height: 150px;
    font-size: 1.2rem;
    overflow-y: scroll;
    color: #000;
}