header {
    padding: 20px;
    height: 70px;
}

#pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 0 10px;
}

#pesquisa input {
    width: 35vw;
    height: 40px;
    font-size: 1rem;
    border: none;
    background-color: transparent;
}

#pesquisa input:focus {
    outline: none;
    font-variant: normal;
}

#btnSearch {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

nav, ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav {
    justify-content: space-around;
}

#titulo {
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menuHeader {
    font-size: 1.3rem;
    border: none;
    color: #ffff;
    background-color: transparent;
    cursor: pointer;
}

.menuHeader:hover {
    border-bottom: 1px solid #a69aac;
}